apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: web3

resources:
  - ../../ethereum

patches:
  - target:
      kind: StatefulSet
      name: geth
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "500m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "2Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "2000m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "4Gi"
  
  - target:
      kind: PersistentVolumeClaim
    patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: "50Gi"

configMapGenerator:
  - name: geth-config
    namespace: web3
    literals:
      - NETWORK=sepolia
      - SYNC_MODE=snap
      - CACHE_SIZE=1024
      - MAX_PEERS=25
